name: Frontend CI/CD

on:
  push:
    branches: [main]
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-ci-cd.yml"
  pull_request:
    branches: [main]
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-ci-cd.yml"

jobs:
  build-lint:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Deploy App to Render
        if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
        run: curl -fsSL -X POST "$RENDER_FE_DEPLOY_HOOK"
        env:
          RENDER_FE_DEPLOY_HOOK: ${{ secrets.RENDER_FE_DEPLOY_HOOK }}
